@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --pal1:#AA9585;
    --pal1d:#6b5d529c;
    --pal2:#61554F;
    --pal3:#AFAFA9;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Amiri',"Poppins", sans-serif;
    /* font-family: 'Poppins'; */
}

body{
    background-image: url(../Images/bg.jpg);
    background-repeat: repeat;
    display:flex;
    flex-flow: column wrap;
    margin:0px;
    padding:0px;
    justify-content:center;
    align-items:center;
}

#menu{
    display:flex;
    background-color:var(--pal1);
    border: 4px solid var(--pal2);
    position:relative;
    padding:5px;
    margin:5px;
    width:70%;
    height:65px;
    border-radius:20px;
}

.fieldOuter{
    background-color:var(--pal3);
    display:flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    width:103px;
    height:30px;
    position:absolute;
    align-items:center;
    gap:10px;
    justify-content:space-between;
    text-wrap:nowrap;
    user-select:none;
}

.fieldInner{
    display:flex;
    background-color:white;
    padding:1px;
    border-radius:20px 0px 0px 20px;
    gap:5px;
    text-wrap:nowrap;
}

.fieldP{
    margin:5px;
}

#surahSearch{
    inset: auto 2px auto auto;
}

#ayahSearch{
    inset: 40px 2px auto auto;
}

#pageSearch{
    inset: 5px 120px auto auto;
}

#pageNumber,#juzNumber{
    border:none;
    margin:0px;
    width:40px;
}

#juzSearch{
    inset: 40px 120px auto auto;
}

#textSearch{
    inset: auto 60% auto 40%;
    text-align:right;
    width:200px;
    padding:0px 10px;
}

#liveSearch{
    text-align:right;
    width:70%;
    border-radius:20px;
    border:none;
    height:90%;
    padding:0px 2px;
    direction:rtl;
    /* font-family: "Times New Roman";*/
    font-size:1em;
}

#recite{
    inset: 30% auto auto 2px
}

#tafseer{
    inset: 2px auto auto 20%;
    width:max-content;
    padding:0px 5px;
}

#ayahQuiz,#stats{
    inset: auto auto 10% 2px;
    width: 17px;
    height: max-content;
    padding:2px;
    transition: all 1s ease-in-out ;
    overflow:hidden;
    text-align:right;
    cursor:pointer;
}

#ayahQuiz span, #stats span{
    text-align:right;
    text-wrap:nowrap;
}

#stats{
    inset: 1px auto auto 2px;
    
}

#stats:hover{
    width:75px;
}

#ayahQuiz:hover{
    width:90px !important;
}

#recite{
    inset: 50% 60% auto 40%;
    width:200px;
    padding:0px 10px;
}

.menus{
    display: none;
    position: absolute;
    width:850px;
    height:500px;
    background-color: var(--pal3);
    border: 5px solid var(--pal2);
    border-radius:10px;
    inset: 100px 0px auto auto;
    z-index:2;
    padding:20px;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    direction:rtl;
    gap:10px;
    flex-wrap:wrap;
}

.menuBtn{
    width:50px;
    height:45px;
    border-radius: 10px;
    background-color:var(--pal1);
    border: 2px solid var(--pal2);
    /* padding:0px 3px; */
    overflow:hidden;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.menuBtn:hover{
    filter:brightness(0.8) contrast(1);
}

.menuBtn > p{
    text-align:center;
    height:20px;
}

.surahOrder{
    font-size:1.3rem;
    background-color:var(--pal1d);
    width:100%;
    right:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#d0b6a3
    /* font-family: "Poppins", sans-serif */
    /* background-color:red; */
}

/* Nav Bar */

/* -------------------------- */

/* Book View */


#bookCon{
    width:435px;
    height:min-content;
    display:flex;
    /* background-image:url("../../Quran\ Pages/6.png"); */
    /* background-image:url("../Images/6.png"); */
    /* padding:10px; */
    border: white 3px solid;
    /* background-color:red; */
    /* align-items:center; */
    justify-content:center;
}

#getTr{
    border-radius: 50%;
    width:100px;
    height:100px;
    margin:15px;
    background-color:blue;
    position:absolute;
    top:100px;
}

#pageRtCon,#pageLfCon{
    position:relative;
}

#pageLf,#pageRt{
    margin:0px 5px;    
}

#nextPageBtn{
    position:absolute;
    cursor:pointer;
    top:336px;
    left:-25px;
}
#prevPageBtn{
    position:absolute;
    cursor:pointer;
    top:336px;
    right:-25px;
}   